
@{
    ViewBag.Title = "AudioTest";
}

<h2>AudioTest</h2>
<div ng-app="tuner" ng-controller="TunerController as tunerCtrl">
    <select name="sources" ng-model="tunerCtrl.selectedSource" ng-options="source.deviceId as source.label for source in tunerCtrl.audioSources" ng-change="tunerCtrl.updateSource()"></select>
    <div>
        <label>Frequency</label><p>{{tunerCtrl.peakFrequency}}</p>
        <label>Note Number</label><p>{{tunerCtrl.currentNote}}</p>
        <label>Note</label><p>{{tunerCtrl.currentNoteString}} {{tunerCtrl.cents}}</p>
    </div>
    <div>
        <label>Output Frequency</label><p>{{tunerCtrl.oscillatorFreq}}</p>
        <label>Desired Note</label><input type="range" ng-model="tunerCtrl.desiredNote" min="0" max="107" ng-change="tunerCtrl.updateDesiredNote()" /><p>{{tunerCtrl.desiredNoteString}}</p>
    </div>
    <button type="button" ng-click="tunerCtrl.toggleRecording()"><span ng-hide="tunerCtrl.isPlaying" class="glyphicon glyphicon-play"></span><span ng-show="tunerCtrl.isPlaying" class="glyphicon glyphicon-stop"></span></button><br/>
    <canvas frequency-chart style="height: 500px; width: 500px;"></canvas>
</div>
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/myAngular")
    <script>
        window.navigator.getUserMedia = window.navigator.getUserMedia ||
            window.navigator.webkitGetUserMedia ||
            window.navigator.mozGetUserMedia ||
            window.navigator.msGetUserMedia;

        window.AudioContext = window.AudioContext || window.webkitAudioContext;

        var app = angular.module('tuner', ['services', 'controllers', 'directives', 'filters']);
    </script>